@use "../global/variables" as *;

.project-card {
  display: grid;
  grid-template-areas: 
    "thumbnail"
    "text"
  ;
  margin: 4rem 0;
  align-items: center;

  .project-text {
    grid-column: text;
  }

  .project-image {
    grid-column: thumbnail;
  }

  @media (min-width: $bp-laptop) {
    grid-template-columns: repeat(12, 1fr);

    &.align-left {
      grid-template-areas: 
        "text text text text . thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail"
      ;
      
      .project-image {
        order: 1;
      }

      .project-text {
        order: 0;
      }
    }
    
    &.align-right {
      grid-template-areas: 
      "thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail . text text text text"
      ;

      .project-image {
        order: 0;
      }

      .project-text {
        order: 1;
      }
    }
  }
}