@use "../global/variables" as *;

.project-card {
  margin: 4rem 0;

  
  @media (min-width: $bp-laptop) {
    display: grid;
    align-items: center;

    .project-text {
      grid-column: text;
    }
  
    .project-image {
      grid-column: thumbnail;
    }
    
    &.align-left {
      grid-template-columns: 4fr 1fr 7fr;
      grid-template-areas: 
        "text . thumbnail"
      ;
      
      .project-image {
        order: 1;
      }

      .project-text {
        order: 0;
      }
    }
    
    &.align-right {
      grid-template-columns: 7fr 1fr 4fr;
      grid-template-areas: 
        "thumbnail . text"
      ;

      .project-image {
        order: 0;
      }

      .project-text {
        order: 1;
      }
    }
  }
}