@use "../global/variables" as *;

.project-card {
  display: grid;
  grid-template-areas: 
    "thumbnail"
    "text"
  ;

  .project-text {
    grid-column: text;
  }

  .project-image {
    grid-column: thumbnail;
  }

  @media (min-width: $bp-laptop) {
    grid-template-columns: repeat(12, 1fr);

    &.align-left {
      grid-template-areas: 
        "text text text text . thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail"
      ;
    }
    
    &.align-right {
      grid-template-areas: 
      "thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail . text text text text"
      ;
    }
  }
}