.text-effect {
  // opacity: 0;
  
  .text-wrapper {
    position: relative;
    display: inline-block;
  }

 .letter {
    display: inline-block;
    transform-origin: 0 0;

    &.space {
      width: 0.3em;
    }
 }
}