@use "../global/variables" as *;
@use "../global/mixins" as *;

.page-home {
  padding: 0;
  margin: 0;

  .section-banner {
    width: 100vw;
    min-height: min(100vh, 75rem);
    margin: 0 -2rem;
    background-image: url("../../images/space-bg.svg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: 
      ". . ."
      ". image ."
      ". text ."
      ". . ."
    ;
    grid-template-rows: minmax(8rem, 1fr) auto auto minmax(8rem, 1fr);
    grid-template-columns: minmax(2rem, 1fr) minmax(0, $max-width) minmax(2rem, 1fr);

    .banner-text {
      grid-area: text;
      justify-self: center;
      margin-top: 4rem;

      @media (min-width: $bp-laptop) {
        justify-self: unset;
        margin: 0;
        align-self: flex-end;
      }

      .banner-title {
        font-weight: 900;
        font-size: 2.125rem;

        @media (min-width: $bp-phone-lg) {
          font-size: 3.5rem;
        }

        @media (min-width: $bp-desktop) {
          font-size: 4.75rem;
        }

        @media (min-width: $bp-desktop-lg) {
          font-size: 6rem;
        }
      }

      .banner-subtitle {
        @include use-heading-style;

        @media (min-width: $bp-desktop) {
          font-size: 1.5rem;
        }
      }
    }
    
    .banner-image {
      grid-area: image;
      max-width: 25rem;
      justify-self: center;

      @media (min-width: $bp-laptop) {
        max-width: 35rem;
      }
    }
    
    @media (min-width: $bp-laptop) {
      margin: 0 calc(calc(100% - 100vw)/2);
      grid-template-areas: 
        ". . . ."
        ". text image ."
        ". . . ."
      ;
      grid-template-rows: minmax(8rem, 1fr) auto minmax(8rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, calc($max-width/2))) minmax(2rem, 1fr);
    }
  }

  .section-about {
    max-width: $half-width;
    margin: 8rem auto;

    .highlighted-overview {
      @include use-heading-style;
      font-size: 1.75rem;
      color: $yellow;

      @media (min-width: $bp-laptop) {
        font-size: 2.25rem;
      }
    }
  }
}