@use "../global/variables" as *;
@use "../global/mixins" as *;

.page-project {

  & > section {
    margin: 10rem 0;
  }

  .project-header {
    .project-year {
      @include use-heading-style;
    }
    
    
    .featured-image {
      margin: 8rem -2rem;
      width: 100vw;

      @media (min-width: $bp-laptop) {
        margin: 10rem calc(calc(100% - 100vw)/2);
      }

      @media (min-width: $max-width) {
        margin: 10rem 0;
        width: 100%;
      }
    }
  }

  .project-details-section {
    @media (min-width: $bp-laptop) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: ". left left left left left left left right right right .";
      gap: 1rem;

      .left-column {
        grid-area: left;
      }

      .right-column {
        grid-area: right;
      }

      .left-column > section,
      .right-column > section {
        margin-bottom: 2rem;
      }
    }
    
    a {
      color: $white;

      &:hover,
      &:focus {
        color: $yellow;
      }
    }

    @media (min-width: $bp-desktop-lg) {
      grid-template-areas: ". left left left left left left left . right right .";
    }
  }

  .project-collaborators-section {
    ul {
      padding: 0;
      margin: 0 0 1rem;
      list-style: none;
    }

    .collaborator-link {
      .link-icon {
        font-size: 0.875rem;
        margin-left: 0.25rem;
      }
    }
  }

  .project-links-section {
    .project-link {
      padding: 1rem;
      font-size: 2rem;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }


  .project-features-section {
    @media (min-width: $bp-laptop) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;
    }

    h2 {
      grid-column: 2/12;
    }
    
    .feature {
      margin-bottom: 6rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .align-left {
      grid-column: 2/9;
    }

    .align-right {
      grid-column: 5/12;
    }

    .feature-content {

      &-item {
        margin-bottom: 2rem;
      }
    }
  }
}