@use "../global/variables" as *;

.page-project {

  & > section {
    margin: 10rem 0;
  }

  .project-header {
    
    
    .featured-image {
      margin: 10rem 0;
    }
  }

  .project-details-section {
    @media (min-width: $bp-laptop) {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr 3fr;
      grid-template-areas: ". left . right";

      .left-column {
        grid-area: left;
      }

      .right-column {
        grid-area: right;
      }
    }
    
    a {
      color: $white;

      &:hover {
        color: $yellow;
      }
    }
  }

  .project-collaborators-section {
    ul {
      padding: 0;
      margin: 0 0 1rem;
      list-style: none;
    }

    .collaborator-link {
      .link-icon {
        font-size: 0.875rem;
        margin-left: 0.25rem;
      }
    }
  }


  .project-features-section {
    @media (min-width: $bp-laptop) {
      display: grid;
      grid-template-columns: minmax(2rem, 1fr) 3fr 4fr 3fr minmax(2rem, 1fr);
    }

    h2 {
      grid-column: 2/5;
    }
    
    .project-feature {
      margin-bottom: 6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .align-left {
      grid-column: 2/4;
    }

    .align-right {
      grid-column: 3/5;
    }

    .project-feature-content {
      margin-bottom: 2rem;
    }
  }
}