@use "../global/variables" as *;

.page-home {
  padding: 0;
  margin: 0;

  .section-banner {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../images/space-bg.svg");
    background-size: cover;
    
    // @media (min-width: $bp-tablet) {
    //   display: grid;
    //   grid-template-areas: 
    //   ". . . ."
    //   ". text image ."
    //   ". . . .";
    //   grid-template-columns: 1fr repeat(2, minmax(0, calc($max-width/2))) 1fr;
    //   grid-template-rows: 1fr auto 1fr;
    //   gap: 2rem;
      
    //   .banner-text {
    //     grid-area: text;
    //     align-self: flex-end;
    //   }
  
    //   .banner-image {
    //     grid-area: image;
    //     justify-self: center;
    //   }
    // }

    // .banner-text {
    //   padding: 10rem 0;
    // }

    // .banner-image {
    //   max-width: 35rem;
    // }
  }
}