@use "variables" as *;

body {
  margin: 0;
  background-color: $background__blue;
  color: $white;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: minmax(2rem, 1fr) minmax(0, $max-width) minmax(2rem, 1fr);

  section.page {
    grid-column: content;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}

img, picture {
  display: block;
}